@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #000000 10%, #151515 74%); 
    color: white;
}
.top, .title {
    display: flex;
    justify-content: center;
}
.epic {
    background-image: linear-gradient(90deg, #ff6c6c 10%, #f7b0b0 74%); 
}
.title {
    padding-bottom: 10px;
}
.image {
    border-radius: 50%;
    width: 5%;
}
.bg-red {
    height: 87vh;
}
.sub {
    padding-top: 10px;
}
.container {
    display: flex;
    justify-content: center;
}

input {
    width: 50vh;
    height: 4vh;
}